// app/components/Header/Header.module.scss
header {
  background-color: var(--bg-mode);
  border-bottom: 0.8px solid var(--border-default);
  .top {
    height: 60px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  .bottom {
    height: 76.79px;
    padding: 12.8px 16px 12px 16px;
    border: 0.8px solid var(--border-default);
    .box-price {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      border-radius: 4px;
      padding: 0 8px;
      height: 32px;
    }
  }
  .logo {
    font-size: 20px;
    line-height: 28px;
  }
}
