.buy-sell-box {
  width: 299.8px;
  height: 703.92px;
  background-color: var(--bg-mode);
  border-radius: 8px;
  padding: 0.8px;
  border: 0.8px solid var(--border-default);
  .tabs {
    display: flex;
    align-items: center;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 149.1px;
      height: 45.6px;
      padding: 12px 0 13.6px 0;
      cursor: pointer;
    }
    .tab-buy {
      background-color: var(--bg-green);
      p {
        color: var(--text-green);
      }
      border-bottom: 1.6px solid var(--text-green);
    }
    .tab-sell {
      background-color: var(--bg-red);
      p {
        color: var(--text-red);
      }
      border-bottom: 1.6px solid var(--text-red);
    }
  }
  .content {
    padding: 16px 16px 0 16px;
    height: 656.73px;
    .available-balance {
      padding: 12px;
      margin-bottom: 16px;
      background-color: var(--bg-box-important);
      height: 88px;
    }
    .box-price {
      height: 64px;
      margin-bottom: 16px;
    }
    .box-amount {
      height: 64px;
      margin-bottom: 16px;
    }
    .amount-slice {
      height: 87.99;
      .btn-slice-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    .total-box {
      padding: 12px;
      background-color: var(--bg-box-important);
    }
  }
}
