// slice
.ant-slider-handle:hover::after,
.ant-slider-handle:active::after,
.ant-slider-handle:focus::after,
.ant-slider-handle::after {
  box-shadow: 0 0 0 var(--ant-slider-handle-line-width) var(--bg-button-prime) !important;
  height: 16px !important;
  width: 16px !important;
  top: 2px !important;
  left: -2px !important;
  background-color: var(--bg-dot) !important;
}
// input
.ant-input-number {
  background-color: var(--bg-input) !important;
  color: var(--color-text-input) !important;
  border: 0.8px solid var(--border-input) !important;
  .ant-input-number-input {
    color: var(--color-text-input) !important;
  }
}
