// slice
.ant-slider-handle:hover::after,
.ant-slider-handle:active::after,
.ant-slider-handle:focus::after,
.ant-slider-handle::after {
  box-shadow: 0 0 0 var(--ant-slider-handle-line-width) var(--bg-button-prime) !important;
  height: 16px !important;
  width: 16px !important;
  top: -1px !important;
  left: -3px !important;
  background-color: var(--bg-dot) !important;
}
.ant-slider {
  padding: 0 !important;
  margin: 0 !important;
}
// input
.ant-input-number {
  background-color: var(--bg-input) !important;
  color: var(--color-text-input) !important;
  border: 0.8px solid var(--border-input) !important;
  .ant-input-number-input {
    color: var(--color-text-input) !important;
  }
}
// list
.ant-list-item {
  padding: 0 !important;
}

.rc-virtual-list-scrollbar {
  background-color: var(--bg-color-scroll) !important;
  .rc-virtual-list-scrollbar-thumb {
    background-color: var(--color-scroll) !important;
  }
}
