.content {
  padding: 16px 15.8px 11.59px 12px;
}
.text {
  color: var(--text-color-default);
}
.text-blur {
  color: var(--text-color-blur);
}
.bg-default {
  background-color: var(--bg-default);
}
.text-red {
  color: var(--text-red);
  // animation: text-red 0.5s ease-in-out;
  // @keyframes text-red {
  //   0%,
  //   100% {
  //     background-color: #f2f1ee;
  //   }
  //   50% {
  //     background-color: var(--bg-red);
  //   }
  // }
}
.text-green {
  color: var(--text-green);
  // animation: text-green 0.5s ease-in-out;
  // @keyframes text-green {
  //   0%,
  //   100% {
  //     background-color: transparent;
  //   }
  //   50% {
  //     background-color: var(--bg-green);
  //   }
  // }
}
.bg-red {
  background-color: var(--bg-red);
}
.bg-green {
  background-color: var(--bg-green);
}
.box-red {
  color: var(--text-red);
  background-color: var(--bg-red);
}
.box-green {
  color: var(--text-green);
  background-color: var(--bg-green);
}
