.trade-page {
  .info-market-box {
    padding: 16.8px 16.8px 0 16.8px;
    border-radius: 8px;
    border: 0.8px solid var(--border-default);
    background-color: var(--bg-mode);
    width: 144.9px;
    height: 117.59px;
  }
  .price-chart {
    height: 488px;
    border-radius: 8px;
    border: 0.8px solid var(--border-default);
    margin-bottom: 15.41px;
    background-color: var(--bg-mode);
    .controler-chart {
      border-bottom: 0.8px solid var(--border-default);
      padding: 0 16px;
      height: 54.4px;
      display: flex;
      justify-content: space-between;
      .box-btn {
        display: flex;
        align-items: center;
      }
    }
  }
}
